.userlogin-main{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.userlogin-inner {
    width: 50%;
    margin: auto;
    box-shadow: 0px 1px 13px #9b9b9b;
    border-radius: 7px;
    padding: 35px 46px 50px;
}
.form-control:focus {
    box-shadow: none;
}
.userlogin-inner  input,.userlogin-inner  textarea {
    font-size: 15px !important;
    border-color: #ced4da !important;
}
.common-btn {
    background: #0c0c44;
    color: #fff !important;
    height: 46px;
    text-align: center;
}
.linkControl {
    color: #0e0eb7;
}
.userlogin-inner h2{
    font-weight: 600;
}
/*admin*/
.adminlogin-main {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.bg-dark {
    background-color: #dad7d7 !important;
}
.admin-common-btn {
    background: darkred;
    color: #fff !important;
    height: 46px;
    text-align: center;
    border-radius: 7px;
}
.btn.focus, .btn:focus {
    box-shadow: none;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(0 0 0 / 3%);
}
/*category*/
.thread-table {
    background: #0c0c443b;
}
@media(max-width:991px){
    .userlogin-inner {
        width: 100%;
    }

}
@media(max-width:420px){
    .userlogin-inner {
        padding: 35px 20px;
    }
}

